<html>

<head>
    <title>Django 테스트 페이지</title>
</head>

<body>
    <div>
        <h1>
            <a href="">Django 테스트 페이지</a>
        </h1>
    </div>
    <div>
        <p>일시 : 2020.01.23, 23:38</p>
        <h2><a href="">Django 테스트</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div>
        <p>일시 : 2020.01.23, 23:38</p>
        <h2><a href="">Django 테스트</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>

</body>

</html>